<div class="container">
  <h1>Results for {{searchTerm}}</h1>
  <br>

  {{#each bookResults}}
    {{#if (resultsNewRow @index) }}
      <div class="columns">
    {{/if}}

    <div class="column is-one-fourth-widescreen">
      <div class="book">
        <div class="book__cover">
          <figure class="image is-3by4">
            <img class="book-cover" src="{{this.thumbnail}}">
          </figure>
        </div>
        <div class="book__info">
           <p class="book__title">{{this.title}}</p>
            <div class="book__authors">
            {{#each this.authors }}
              <span>{{this}}</span>
            {{/each}}
            </div>
        </div>
       
        <div class="book__palette">
          {{#each this.swatches }}
          <div class="palette-square" style="background: {{this.hex}};"></div>
          {{/each}}
        </div>

        <div class="book__palette-codes">
          {{#each this.swatches }}
            <!-- <span class="rgb">{{this.rgb}}</span> -->
            <span class="hex" style="color: {{this.hex}};">{{this.hex}}</span>
          {{/each}}
        </div>
      </div>
    </div>

    {{#if (resultsEndRow @index ../bookResults.length) }}
      {{#loop (colFillRow @index)}}
        <div class="column is-one-fourth-widescreen is-centered">
        </div>
      {{/loop}}
      </div>
    {{/if}}

  {{/each}}
</div>